doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title TGH Logistics
    
    link(rel='stylesheet', href='../static/style/loginStyle.css')
    link(rel='stylesheet', href='../static/style/homeStyle.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap', rel='stylesheet')
  body

    - var user = {mobileNumber:mobileNumber, AllErrors:AllErrors}
  
    section#login-section
      #inside-login-section
        #login-heading
          h1 Password Change
        include partial/flash-messages.pug    
        form#login-form(action="/forgetPassword" ,method="post")
          div
            label.label-inside-form(for="mobileNumber") Enter Registered Mobile Number
            br
            input#mobileNumber.input-inside-form(type="text"  required='' autofocus="" name="mobileNumber")
          div
            input#loginButton(type="submit" value="Send OTP")            
        div
            p We will send you an OTP to verify your Mobile Number.    
          
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

script(src="../static/script/loginScript.js")
