doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title TGH Logistics
    
    link(rel='stylesheet', href='../static/style/createAccountStyle.css')
    link(rel='stylesheet', href='../static/style/homeStyle.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap', rel='stylesheet')
  body
    - var user = {AllErrors:AllErrors}
      section#createAccount-section
        #inside-createAccount-section
          #createAccount-heading
            h1 Create New Password
          include partial/flash-messages.pug 
          form#createAccount-form(action="/setNewPassword", method="post")
            div
              label.label-inside-form(for="password") Enter New Password
              input#password.input-inside-form(type="password"  name="password")
            div
              label.label-inside-form(for="password") Re-enter Password
              input#password2.input-inside-form(type="password"  name="password2")
            div
              input#createAccountButton(type="submit" value="Continue")
script.
  // FOR ERRORS 
  let errorCross=document.querySelector(".error-cross");
  let nameInput=document.getElementById("name");
  errorCross.addEventListener("click",()=>{
      errorCross.parentElement.style.display="none";
      nameInput.focus()
  })
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="../static/script/createAccountScript.js")
