* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #143d59;
    --secondary-color: #f4b41a;
}

#navbar {
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 80px;
    background-color: white;
    align-items: center;
}

#navbar-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background-color: white;
}

#inside-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar #inside-navbar #logo {
    font-family: 'Fredoka One', cursive;
    font-size: 23px;
    color: var(--primary-color);
    margin-left: 100px;
}

.logo-image {
    height: 84%;
    width: 37%;
}

.ul-inside-navbar {
    display: flex;
    align-items: center;
    transition: 3s all ease;
}

.nav-list-items {
    list-style: none;
    color: #fcfcfc;
}

.nav-list-items a {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    color: var(--primary-color);
    padding: 15px 7px;
    margin: 0px 12px;
}

.nav-list-items #new-auction-button {
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s all;
}

.nav-list-items #new-auction-button:hover {
    border: 1px solid black;
    /* text-decoration: underline; */
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-list-items #new-auction-button span {
    font-size: 25px;
}


/* HOVER ON MENU */

#hover-on-menu {
    display: none;
    z-index: 3;
    position: fixed;
    top: 60px;
    right: 7.5vw;
    width: 200px;
    background-color: #1b5780;
    transition: display 5s ease;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 5s;
    /* height: 35vh; */
    transition: height 5s 0.5s;
}

#arrow {
    position: absolute;
    top: -15px;
}

.arrow-up {
    width: 0px;
    height: 5px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1b5780;
}

.div-inside-section-of-navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
}

.Allitems-ofdiv-inside-section-of-navbar-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Allitems-ofdiv-inside-section-of-navbar-links ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item-hoverMenu {
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

.item-hoverMenu li {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 12px 0px;
    border-bottom: 1px solid var(--secondary-color);
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 17px;
}

.item-hoverMenu li:hover {
    background-color: var(--secondary-color);
}

#lastItemOfHoverMenu {
    border-bottom: none;
}


/* SIDEBAR WRAPPER */

#sidebar-main-section-wrapper {
    display: flex;
}


/* SIDEBAR FROM HERE */

#sidebar {
    box-sizing: border-box;
    width: 17vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    transition: all 0.3s ease-in;
    z-index: 3;
    overflow: scroll;
}

.ul-inside-sidebar {
    border-top: 1px solid #ffdcdc;
}

#sidebar ul li {
    display: flex;
    width: 100%;
}

.links-inside-sidebar {
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    padding: 1.5rem 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links-inside-sidebar:hover {
    text-decoration: underline;
    background-color: var(--secondary-color);
}

#username:hover {
    text-decoration: none;
    background-color: white;
}

.links-inside-sidebar:active {
    background-color: var(--secondary-color);
}


/* MAIN-SECTION FROM HERE*/

#main-section {
    background-color: #fff8e6;
    width: 83vw;
    padding-left: 18vw;
}

#main-section #dashboard-heading {
    font-weight: 100;
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    color: var(--primary-color);
}

.all-auctions {
    color: black;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid var(--secondary-color);
}

.inside-all-auctions span {
    color: var(--secondary-color);
    font-weight: bolder;
}

.inside-all-auctions a {
    padding-top: 0.5rem;
}

.buttonLink:hover {
    color: var(--secondary-color);
}

.divs-containing-input a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete-auction-section {
    display: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    right: 0;
    top: 50%;
    left: 0;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 1rem;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 4;
}

.delete-auction-section h1 {
    font-size: 1.5rem;
    text-align: center;
}

.delete-auction-section .divs-containing-input {
    width: 81%;
    font-size: 1.3rem;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.delete-auction-section .divs-containing-input a {
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-wrapper-of-page {
    height: 10000px;
    position: fixed;
    z-index: 1;
}

.shadowing {
    top: 0;
    left: 0;
    width: 100vw;
    background-color: black;
    opacity: 0.6;
}

.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.active:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.no-auctions {
    font-weight: 100;
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    color: rgb(123, 207, 255);
}


/*NEW AUCTION SYMBOL FORM HERE */

#new-auction {
    position: fixed;
    bottom: 3%;
    right: 3%;
    transition: 0.1s all;
}

#div-inside-new-auction {
    width: 70px;
    height: 70px;
    background-color: var(--secondary-color);
    border: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

#div-inside-new-auction a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-decoration: none;
}

@media only screen and (max-width:1210px) {
    .links-inside-sidebar {
        font-size: 17px;
        padding: 1.3rem 0.5rem;
    }
    .logo-image {
        width: 50%;
    }
    .divs-containing-input a {
        font-size: 18px;
    }
    .divs-containing-input {
        width: 40%;
    }
}

@media only screen and (max-width:850px) {
    #sidebar {
        width: 23vw;
    }
    #inside-navbar {
        width: 85%;
    }
    .logo-image {
        width: 10rem;
    }
    #navbar #inside-navbar #logo {
        margin-left: 70px;
    }
    #main-section {
        width: 77vw;
        padding-left: 23vw;
    }
    .divs-containing-input {
        width: 55%;
    }
}

@media only screen and (max-width:720px) {
    #inside-navbar {
        width: 91%;
    }
    .links-inside-sidebar {
        padding: 0.9rem 0.5rem;
    }
    .nav-list-items a {
        font-size: 17px;
    }
    #sidebar {
        left: -90vw;
        height: 100vh;
        top: 0;
        width: 89vw;
    }
    #sidebar-main-section-wrapper .show {
        left: 0px;
    }
    #main-section {
        width: 100vw;
        padding-left: 0;
    }
    #hover-on-menu {
        right: 1.5vw;
        width: 121px;
    }
    .bars {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding: 2px 5px;
        border: 2px solid transparent;
        z-index: 9999;
        left: 0;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--primary-color);
        opacity: 0.4;
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-48deg) translate(-9px, 6px);
        transform: rotate(-48deg) translate(-9px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(43deg) translate(-8px, -8px);
        transform: rotate(43deg) translate(-8px, -8px);
    }
    .border {
        border: 1px solid var(--primary-color);
    }
}

@media only screen and (max-width:480px) {
    .logo-image {
        width: 8rem;
    }
    #main-section #dashboard-heading {
        font-size: 2.3rem;
        text-align: center;
    }
    .nav-list-items #new-auction-button {
        font-size: 15px;
        padding: 8px;
    }
    #navbar #inside-navbar #logo {
        margin-left: 20px;
    }
    .delete-auction-section {
        width: 17rem;
    }
    .delete-auction-section .divs-containing-input a {
        font-size: 15px;
    }
}